#mainregister{
    margin: auto;
    max-width: 1248px;
     /* border: 1px solid red;  */
    /* height: 700px; */

}

#abjlogo{
    width: 200px;
    height: 80px;
    margin-left: 30px;
}

#abjlogo > img{
    width: 100%;
    height: 100%;
}

#singintext{
    float: right;

}

#leftdiv{
    position: fixed;
    right: 170px;
    /* border: 1px solid rgb(33, 27, 27); */
    width: 4%;
    height: 200px;
    margin: auto;
}

/* #leftdiv  > div > img {
    width: 100%;
    height: 100%;
    border: 1px solid red;
} */

#leftdiv :nth-child(1) {
    padding: 2px;
    width: 100%;
    height: 20%;
    margin: auto;
    background-color: #3665f3;
}

#leftdiv :nth-child(2) {
    padding: 2px;
    margin: auto;
   width: 100%;
    height: 40%;
    /* border-bottom: 1px solid rgb(150, 148, 148); */
    
}

#leftdiv :nth-child(3) {
    padding: 2px;
    width: 100%;
    height: 40%;
    margin: auto;
}


#abjdesc{
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 45%;
    height: 130px;
    margin: auto;
    color: white;
    background-color: #3665f3;
}

#abjdesc > p {
    width: 90%;
    margin: auto;
}

#formdiv {
    margin: auto;
    /* border: 1px solid red; */
    width: 40%;

}

#formdiv > div {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}


#personalform {
    margin: auto;
    /* border: 1px solid rgb(98, 0, 255); */
    width: 40%;
    height: 450px;
    margin-top: 30px;
}

.emaildiv {
    /* border: 1px solid red; */
    width: 90%;
    height: 80px;
    margin: auto;
}
.emaildiv > p {
    margin: auto;
    width: 95%;
}

.emaildiv > input {
    margin: auto;
    width: 95%;
    height: 45px;
    margin: 5px;
    border-radius: 10px;
   
}

#name {
    /* border: 1px solid rgb(32, 30, 30); */
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto;
}
#name > input {
    margin: auto;
    width: 45%;
    height: 45px;
    gap: 5%;
    border-radius: 10px;
}

#btn{
    width: 95%;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    background-color: #3665f3;
    font-size: larger;
    cursor: pointer;
}
#btn_div{
    /* border: 1px solid rgb(32, 30, 30); */
    width: 90%;
    height: 80px;
    margin: auto;
}

#terms{
    margin: auto;
    width: 90%;
    height: 150px;
    
  
}


#terms > p {
    width: 90%;
    margin: auto;
    font-size: 13px;
    margin-top: 15px;
}
