.HomebannerDiv {
  max-width: 1248px;
  margin: 46px auto 0px auto;
  display: flex;
  align-items: center;
  height: 113px;
  background-color: #feb887;
  border-color: #feb887;
  padding: 0;
  box-sizing: border-box;
}

.HomebannerDiv > div:first-child {
  width: 8%;
}

.HomebannerDiv > div:first-child > img {
  width: 100%;
}

.HomebannerDiv > div:nth-child(2) {
  /* border: 1px solid red; */
  width: 80%;
}

.HomebannerDiv > div:nth-child(2) > div:first-child > h2,
.HomebannerDiv > div:nth-child(2) > div:last-child {
  margin-bottom: 3px;
  color: #781b19;
  /* border: 1px solid red; */
}
.HomebannerDiv > .HomebannerDiv > div:nth-child(3) {
  width: 12%;
}

.HomebannerDiv > div:nth-child(3) > button {
  padding: 12px 20px;
  /* border: 1px solid #781b19; */
  background: transparent;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #781b19;
  border: 1px solid #781b19;
  cursor: pointer;
}

.HomebannerDiv > div:nth-child(2) > div:last-child > button {
  display: none;
}

.HomebannerDiv > div:nth-child(3) > button > svg {
  font-size: 1.4rem;
}

@media all and (max-width: 1117px) {
  .HomebannerDiv {
    margin: 46px 15px 0px 15px;
  }

  .HomebannerDiv > div:nth-child(2) {
    /* border: 1px solid red; */
    width: 80%;
  }

  .HomebannerDiv > div:nth-child(3) {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 829px) {
  .HomebannerDiv > div:nth-child(3) {
    display: none;
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child > button {
    display: none;
  }

  .HomebannerDiv > div:nth-child(2) {
    /* border: 1px solid red; */
    width: 100%;
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child {
    display: flex;
    gap: 25px;
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child > button {
    border: none;
    background: transparent;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #781b19;
  }

  .HomebannerDiv > div:first-child {
    width: 15%;
  }
}

@media all and (max-width: 656px) {
  .HomebannerDiv > div:nth-child(2) > div:first-child > h2 {
    font-size: 1.2rem;
    /* border: 1px solid red; */
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child {
    font-size: 0.877rem;
  }
}

@media all and (max-width: 530px) {
  .homeCatnav {
    display: none;
  }

  .HomebannerDiv {
    margin: 30px 15px 0px 15px;
  }

  .HomebannerDiv {
    height: 80px;
  }

  .HomebannerDiv > div:nth-child(2) > div:first-child > h2 {
    font-size: 0.8rem;
    /* border: 1px solid red; */
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child {
    font-size: 0.707rem;
  }

  .HomebannerDiv > div:nth-child(2) > div:last-child > button {
    display: none;
  }
}
