.searchdropdown {
  position: absolute;
  inset: 39px 0 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 999;
  min-height: 320px;
  min-width: 300px;
  overflow: scroll;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.searchdropdown > a {
  padding: 10px;
  color: #363636;
  /* border-bottom: 1px solid grey; */
}

.searchdropdown > a:hover {
  background-color: lightblue;
}
