.sorting-filtering-section{
    /* border: 1px solid black; */
    margin: 20px 0px 20px 130px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}


/* pagination CSS */

.pagination{
    display: flex;
    gap: 7px;
   justify-content: center;
   list-style-type: none
}

.page-item{
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 5px;
    padding: 5px 7px;
}
.page-link{
    padding: 5px 15px;
}

