/* NAVBAR (admin) STYLING */
.nav_main {
  /* border: 5px solid red; */
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 10px;
  height: 70px;
  background-color: rgb(246, 245, 245);
}

.nav_logo {
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto 50px;
  width: 100px;
  height: 50px;
}
.nav_logo:hover {
  cursor: pointer;
}

.navigate_section {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: none 100px none auto;
}
.navigate_section_products:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navigate_section_home:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add_product_btn_div {
  font-size: 16px;
  border: 1px solid black;
  background-color: rgb(59, 59, 188);
  color: white;
  height: 30px;
  padding: 20px 10px;
  margin: auto 10px auto 30%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.nav_drop_down_section {  
  background-color: rgb(59, 59, 188);
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 100px 20px auto;
}
.dropbtn_text{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

/* @media screen and (max-width: "600px") and (min-width: "200px")  {
  *{
    border: "1px solid black";
  }
} */
