#loginbody{
    max-width: 1248px;
    margin: auto;
}

#learn{
    /* border: 1px solid red; */
    text-align: right;
    padding-right: 10px;
}
#learn > a {
    color: blue;
}

#logo{
    width: 15%;
    height: 40px;
    /* border: 1px solid rgb(169, 72, 72); */
}

#logo > img {
    width: 100%;

}

#formDiv {
    /* border: 1px solid rgb(64, 0, 255); */
    margin: auto;
    width: 60%;
    height: 1000px;
}



#desc{
    /* border: 1px solid red; */
    margin: auto;
    width: 60%;
    height: 140px;
    margin-top: 30px;
    padding: 5px;
    background-color: #3665f3;
    color: white;
    
}

#desc > img {
    width: 25px;
    margin-top: 10px;
    
}

#hello{
    width: 30%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

/* #hello > h1 {
   align-items: center;
   justify-content: center;
} */

#sign {
    /* border: 1px solid rgb(153, 138, 138); */
    width: 36%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: medium;
    
}


#formdata {
    margin: auto;
    width: 60%;
    /* border: 1px solid red; */
    height: 600px;
    margin-top: 40px;
    

}

#formdata > form > div {
    /* border: 1px solid rgb(0, 255, 47); */
    width: 95%;
    height: 70px;
    margin: auto;
    margin-top: 15px;
   
}

.inputDiv{
    /* border: 1px solid rgb(0, 4, 255); */
    width: 95%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-radius: 25px;
   
    
}

.btn_img{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
   
}

.inputDiv > input{
    margin: auto;
    width: 95%;
    height: 90%;

}
.div_btn{
    margin: auto;
    width: 95%;
    height: 90%;
    border-radius: 25px;
    font-size: large;
    border: none;
    background-color: #3665f3;
    cursor: pointer;
}


#check_div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#text_div{
    margin: auto;
    width: 60%;
    /* border: 1px solid red; */
    padding: 10px;
}

#show_box{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    

}

#show_div {
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-left: 25%;
  
}

#show_btn {
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    height: 180px;
    background-color: #3665f3;
    color: white;
    padding: 10px;

}




#terms{
    margin: auto;
    width: 90%;
    height: 150px;
  
}


#terms > p {
    width: 90%;
    margin: auto;
    font-size: 13px;
}
