* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.catNav {
  max-width: 1248px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 5;
}

.catNavContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.catNavDropdownContainer {
  display: none;
}

.catNavContainer > li {
  font-weight: 500;
  font-size: 0.8rem;
  padding: 8px 5px;
  color: #555555;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  z-index: 3;
}

.catNavContainer > li:hover .catNavDropdownContainer {
  display: block;
}

.CatNavsmallList {
  display: none;
}

.catNavContainer > li:hover:not(.catNavContainer > li:first-child) {
  text-decoration: underline;
  color: #0000fe;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.catNavContainer > li:first-child {
  border-bottom: 2px solid green;
}

.CatNavMoreList {
  background-color: #fff;
  top: 34px;
  right: 0;
  padding: 20px 10px;
  gap: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.CatNavsmallList {
  position: relative;
}

.CatNavMoreList > :hover {
  text-decoration: underline;
  color: #000;
}

.CatNavMoreList {
  display: none;
}

.CatNavsmallList:hover .CatNavMoreList {
  display: flex;
}

.CatNavsmallList > p {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media all and (max-width: 1168px) {
  .catNavContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .catNavContainer > li:nth-child(11) {
    display: none;
  }

  .CatNavsmallList {
    display: block;
  }
}

@media all and (max-width: 1016px) {
  .catNavContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .catNavContainer > li:nth-child(10),
  .catNavContainer > li:nth-child(9) {
    display: none;
  }

  .CatNavsmallList {
    display: block;
  }
}

@media all and (max-width: 855px) {
  .catNavContainer > li:nth-child(10),
  .catNavContainer > li:nth-child(9),
  .catNavContainer > li:nth-child(8),
  .catNavContainer > li:nth-child(7) {
    display: none;
  }
}
