/* #see-firstDiv{
    border:2px solid black;
    height:500px;
    max-width:1248px;
    margin:auto;
    background:url(https://ir.ebaystatic.com/cr/v/c1/embg/082019/hero_mobile.jpg) no-repeat center center/cover;
    
    

} */
